.todo-preview {
  margin: 20px;
  border: 1px solid red;
  word-wrap: break-word;
  padding:30px;
  & > * {
    margin:10px;
  }

  &--btn{
    border-radius: 3px;
    background-color: antiquewhite;
    padding:10px;
    display: inline;
    cursor: pointer;
    
  }
}
