.modal-dialog-container {
  &--input {
    border: none;
    width: 100%;
    
    &:focus-visible {
      outline: none;
    }
    &:hover{
      outline: solid #e6e9ef 1px;
      border-radius: 3px;
    }
  }
}
.modal{
  backdrop-filter: blur(2px);
}